<div class="icon">
    <fa-icon [icon]="faMusic" class="music-icon"></fa-icon>
    <div class="icon-text">Your Music</div>
</div>

<form>
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" [(ngModel)]="username" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" [(ngModel)]="password" required>
      <div class="error">{{ errorMsg }}</div>
  
      <button type="button" (click)="login()">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
</form>
<div class="background-container">
  <div class="container">
  </div>
</div>
